# Ignore everything
*

# But not these files...
!*.conf
!.g8ignore
!.gitignore
!.gitkeep
!makefile
!*.md
!*.properties
!.properties
!*.py
!*.sbt
!.sbt
!*.scala
!*.sh
!*.txt
!version
!*.vim
# etc...

# ...even if they are in subdirectories
!*/

# But do ignore these directories:
tmp/
target/

# And these files:
metals.sbt
./scala_native_testable_and_compatible/boot/
./scala_native_testable_and_compatible/lib_managed/
./scala_native_testable_and_compatible/project/plugins/project/
./scala_native_testable_and_compatible/src_managed/
./scala_native_testable_and_compatible/target/

# vim: set fileformat=unix filetype=conf wrap :
